<div>
     <app-widget-area></app-widget-area>
</div>
<mat-divider></mat-divider>
<div fxLayout="row" fxLayoutAlign="space.betweeen center" fxLayoutGap = "20px" class="stats.cards">
    <mat-card fxFlex = "25"> 
    <app-widgets-card label="Users" total="18k" percentage="50"> </app-widgets-card>    
    </mat-card>
    <mat-card fxFlex = "25"> 
        <app-widgets-card label=" New Users" total="10k" percentage="40"> </app-widgets-card>    
    </mat-card>
    <mat-card fxFlex = "25"> 
        <app-widgets-card label="Users Retention" total="16k" percentage="60"> </app-widgets-card>    
    </mat-card>
    <mat-card fxFlex = "25">
        <app-widgets-card label="Users Engagement" total="8k" percentage="30%"> </app-widgets-card>    
    </mat-card>
   
</div>
<br>
<mat-divider></mat-divider>
<br>